@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
.app {
  font-family: "Playfair Display", serif;
  text-align: center;
  border: solid black 2px;
  font-size: 0.8em;
  width: 75%;
  margin: 30px auto;
  padding-bottom: 30px;
}

button {
  font-family: "Playfair Display", serif;
  padding: 5px 15px;
  font-size: 1em;
  margin-left: 10px;
  border-radius: 10px;
  border: solid dodgerblue 0.5px;
}

h1 {
  background: lightgrey;
  padding: 10px 0;
  width: 50%;
  margin: 30px auto;
}

h1:hover {
  cursor: pointer;
  background: lightblue;
  transition: 1s;
}

input {
  border-radius: 10px;
  border: solid black 0.5px;
  padding: 5px;
}

h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 3em;
}
